.headerLogo{
    width: 48px;
    height: 29.14px;
    padding: 10px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://github.com/vvvvvvii/PSD-to-HTML-week3/blob/main/img/logo-new_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201.png?raw=true");
    @include hide-text();
    @media(min-width: 768px){
        width: 80px;
        height: 48.57px;
    }
}

.topnav{
    width: 100%;
    flex-direction: column;
    padding: 10px 0 0;
    @media(min-width: 768px){
        flex-direction: row;
        width: auto;
        padding: $navbar-padding-y $navbar-padding-x;
    }
}

.nav-item{
    border: 1px solid $accent;
    width: 50%;
    text-align: center;
    padding: 8px;
    @media(min-width: 768px){
        border: none;
        width: auto;
        padding: 0;
    }
}

.footernav{
    margin-bottom: 29px;
    @media(min-width: 992px){
        margin-bottom: 36px;
    }
}

.footerLogo{
    width: 80px;
    height: 48.57px;
    &-sm{
        width: 46px;
        height: 27.93px;
    }
}

.contact-link{
    font-size: 16px;
    margin-left: 6px;
    @media(min-width:768px){
        font-size: 20px;
        margin-left: 10px;
    }
    @media(min-width:992px){
        font-size: 36px;
        margin-left: 12px;
    }
}

.ic-tel{
    width: 14px;
    @media(min-width:768px){
        width: 22px;
    }
    @media(min-width:992px){
        width: 44px;
    }
}

.ic-mail{
    width: 16px;
    @media(min-width:768px){
        width: 28px;
    }
    @media(min-width:992px){
        width: 48px;
    }
}

.ic-social{
    width: 24px;
    @media(min-width:992px){
        width: 48px;
    }
}