.a-primary{
    color: $primary;
    &:hover{
        color: $dark-primary;
        text-decoration: none;
    }
}

.display-inline-middle{
    @include display-inline-middle;
}

.position-center{
    @include position-center;
}

.no-gutters-sm{
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    } 
    @include media-breakpoint-up(lg) {
        margin-right: -15px;
        margin-left: -15px;
        > .col,
        > [class*="col-"] {
            padding-right: 15px;
            padding-left: 15px;
        } 
    }
}

.opacity-d:hover{
    opacity: 0.8;
}

.opacity-m{
    opacity: 0.5;
    &:hover{
        opacity: 0.4;
    }
}

.icon-product{
    width: 32px;
    @include media-breakpoint-up(lg) {
        width: 48px;
    }
    &-sm{
        width: 14px;
        @include media-breakpoint-up(md) {
            width: 32px;
        } 
        @include media-breakpoint-up(lg) {
            width: 48px;
        }  
    } 
}

.icon-functional{
    width: 23px;
    @include media-breakpoint-up(lg) {
        width: 35.2px;
    }
    &-sm{
        width: 11px;
        @include media-breakpoint-up(md) {
            width: 23px;
        } 
        @include media-breakpoint-up(lg) {
            width: 35.2px;
        }  
    } 
}